   body{
  margin:0;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url("http://bit.ly/2gPLxZ4");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment:fixed;
   }
   .testFlex{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:100%;
   }
   .table{
      position:relative;
   	background: rgb(79,119,144);
      padding:6px 5px 4px 6px;
      box-shadow: 2px 2px 10px rgb(79,119,144);
   }
   .table>table{
   	background: linear-gradient(to top right,rgb(114,151,170),rgb(122,114,163)); 
      position: relative;
      border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
      border: none;
      text-align: center;
      color:white;
   }
   th{
      background: rgb(85,96,142);
      padding: 10px;
      font-weight: normal;
   }
   td{
      padding:7px;
      transition: background 0.15s;

   }


